services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/${MYSQL_DATABASE}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - CORS_ALLOWED_ORIGIN=${ALLOWED_ORIGIN}
    depends_on:
      - db
    networks:
      - inventory-network

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    networks:
      - inventory-network

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3307:3306" # Exposed on 3307 to avoid conflict with local 3306 if any
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inventory-network

networks:
  inventory-network:
    driver: bridge

volumes:
  db_data:
